@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

article p {
  margin-bottom: 1.25rem;
  line-height: 1.578rem;
}
html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.heading {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

article h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
article h2 {
  font-size: 2rem;
  font-weight: 700;
}
article h3 {
  font-size: 1.676767rem;
  font-weight: 700;
}

/* Navigation */
.hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.hamburger:before,
.hamburger:after {
  content: "";
  width: 40px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  transform: rotate(0) translateX(0) translateY(0);
  transform-origin: 50% 50%;
  z-index: 100;
}

.hamburger:before {
  top: 10px;
}

.hamburger:after {
  top: 26px;
}

.hamburger__open:before {
  transform: translateY(8px) translateX(0px) rotate(-135deg);
}
.hamburger__open:after {
  transform: translateY(-8px) translateX(0px) rotate(-225deg);
}

.top-menu {
  position: fixed;
  top: 82px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease;
  transform: translateY(-8px);
}
.top-menu__open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
